.header {
    margin-bottom: 5%;
}

.title {
    text-align: center;
}

.title p {
    padding: 0;
    margin: 0;
}

.title p span {
    vertical-align: middle;
    padding: 0;
    margin: 0;

    font-size: 1.5em;
}